# rename to .env and fill this in. 
SUBSCRIPTION_ID=''
STORAGE_ACCOUNT_CONN_STR=''
SAS_TOKEN=''
STORAGE_ACCOUNT_NAME=''
SSH_PUB_KEY='' 
SSH_PRIVATE_KEY='' # <path_to_private_ssh_key_file> or <base64_encoded_private_ssh_key> (same key as above)
LOCATION=''
SPAWN_TO_WORK_SPACE='' 
SPAWN_COMPUTE_INSTANCE_SUFFIX=''
DEFAULT_USERNAME=''
RESOURCE_GROUP=''
AAD_TENANT_ID=''
AAD_CLIENT_ID=''
AAD_CLIENT_SECRET=''
HOST='' # The host name where this app is hosted. E.g. 'localhost:8888', 'd04091ec4cc6.ngrok.io', 'hub.mydomain.co.uk'