# rename to .env and fill this in.
SUBSCRIPTION_ID=''
LOCATION=''
SPAWN_COMPUTE_INSTANCE_SUFFIX=''
RESOURCE_GROUP=''
HOST='' # The host name where this app is hosted. E.g. 'localhost:8888', 'd04091ec4cc6.ngrok.io', 'hub.mydomain.co.uk'