# rename to .env and fill this in.
SUBSCRIPTION_ID=''
LOCATION=''
SERVICE_PRINCIPAL_NAME=''
HOST='' # The host name where this app is hosted. E.g. 'localhost:8888', 'd04091ec4cc6.ngrok.io', 'hub.mydomain.co.uk'
SSL_CERT='' # Highly reccomended
SSL_KEY='' # Highly reccomended